@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
padding: 0px;    
margin: 0px;
font-family: 'Segoe UI', Arial, sans-serif;
box-sizing: border-box; 
}
body{
background-color:#150f1f;
min-height: 100vh;
width: 100%;
}
.header
{
display: flex;
justify-content: space-between;
margin: auto;
align-items: center;
width: 70%;
height: 120px;
font-size: 13px;
}
.maintitle{
background: linear-gradient(to left ,#ff5fa2,#7c3aed);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-weight: 900;
}
.navv{
background: linear-gradient(to left ,#ff5fa2,#7c3aed);
border-radius: 20px;
padding: 10px;
box-shadow: 1px 5px 20px 5px rgba(124,58,237,0.35);
font-weight: 500;
border: none;
cursor: pointer;
color: white;
transition: 0.3s;
}
nav{
background: none;
}
.navv:hover{
color: white;
box-shadow: 3px 7px 20px 8px  rgba(124,58,237,0.5);
translate: 0 -2px;
}
li
{
display: inline-block;
margin:0 15px;
}
a{
text-decoration: none;
color: white;
font-size: 15px;
font-weight: 600;
}
a:hover{
color: #ff5fa2;    
}
.container-position{
display: flex;
justify-content: center;
align-items: center;
}
.container
{
background-color: #232228;
display: flex;
justify-content: space-between;
align-items: center;
width: 1100px;
height: 500px;
border-radius: 30px;
position: relative;
overflow: hidden;
box-shadow: 10px 10px 150px 10px rgba(124,58,237,0.35);
}
.text
{
padding: 0 50px;
width: 100%;
z-index: 1;
}
.info{
color: #ff5fa2;
font-weight: 600;
letter-spacing: 2px;
font-size: 13px;
}
h2{
margin-top: 10px;
color: white;
font-size:45px;
font-weight: 900;
}
.discription{
color: #b9b6c2;
width: 50%;
font-weight: 350;
margin-top: 15px;
}
.rating{
margin-top: 15px;
color: #b9b6c2;
}
.click{
margin-top: 25px;
border-radius: 40px;
width: 150px;
height: 45px;
background: linear-gradient(to left ,#ff5fa2,#7c3aed);
color: white;
font-weight: 700;
cursor: pointer;
border: none;
box-shadow: 1px 5px 20px 5px rgba(124,58,237,0.35);
transition: 0.3s;
z-index: 1;
}
.click:hover{
box-shadow: 2px 8px 20px 5px rgba(124,58,237,0.45);
}
.click:active{
box-shadow: 1px 3px 20px 2px rgba(124,58,237,0.3);
}
.emoji{
font-size: 200px;
position: absolute;
right: 70px;
top:100px;
z-index: 1;
animation-name: emoji;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
.circle{
background-color: #0e0e12;
height: 600px;
width: 600px;
position: absolute;
top: -50px;
right: -135px;
border-radius: 100%;
z-index: -1;
background: linear-gradient(to top,#7c3aed,#ff5fa2);
animation-name: circle;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 3s;
box-shadow: 60px 1px 200px 1px #7c3aed;
}
@keyframes emoji{
0%,100%{
translate: 0 0;
}
50%{
translate: 0 15px;
rotate: -5deg;
}
}
@keyframes circle{
0%,100%{
translate: 0 0;    
}
50%{
translate: 0 -15px;  
}
}

.box-position{
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
gap: 30px;
}
.box{
background-color: #232228;
width: 350px;
height: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 20px;
margin-bottom: 50px;
position: relative;
transition: 0.5s;
}
.box:hover{
border: 1px solid #7c3aed;
scale: 1.01;
box-shadow: 0px 2px 30px 0px #7c3aed;
}
.box:hover .background{ 
scale: 1.09;
rotate: -12deg;
}
.feature{
color: white;
margin-top: 60px;
}
.feature-discription{
color: #b9b6c2;
font-size: 12px;
margin-top: 10px;
}
.background{
background: linear-gradient(rgba(124,58,237,0.25),rgba(255,95,162,0.25));
width: 50px;
height: 50px;
clip-path: circle();
position: absolute;
top: 15px;
transition: 0.5s;
}
.mobile-br{
display: none;
}
.feature-emoji{
position: absolute;
top: 10px;
left: 10px;
font-size: 22px;
}
@media screen and (max-width:600px)
{
.header{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5px;

}
nav{
text-align: center;
}
.navv{
margin-top: 5px;
margin-bottom: 10px;    
}
h1{
margin-top: 10px;
}
*{
font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
}
.container{
width: 91.1vw;
height: 137.5vw;
padding: 0;
border-radius: 6.5vw;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
position: relative;
}
.text{
width: 100%;
text-align: center;
margin-top: 0;
padding: 0;
}
.info{
font-size: 3.6vw;
font-weight: 500;
letter-spacing: 0.7vw;
line-height: 1;
margin-top: 15.3vw;
}
h2{
font-size: 6.6vw;
font-weight: 700;
line-height: 1.18;
margin-top: 3.85vw;
}
.discription{
width: 100%;
white-space: nowrap;
margin-left: auto;
margin-right: auto;
font-size: 3.87vw;
font-weight: 400;
line-height: 1.65;
margin-top: 5.2vw;
}
.rating{
text-align: center;
font-size: 3.9vw;
line-height: 1.2;
margin-top: 5.9vw;
}
.click{
width: 32.3vw;
height: 10.6vw;
font-size: 3.7vw;
text-decoration: underline;
margin-top: 8.1vw;
}
.mobile-br{
display: inline;
}
.circle{
background-color: #0e0e12;
aspect-ratio: 1 / 1;
width: 94.6vw;
height: auto;
position: absolute;
top: auto;
right: auto;
left: 50%;
bottom: -46.3vw;
transform: translateX(-50%);
border-radius: 100%;
z-index: -1;
background: radial-gradient(circle at 29% 29%,#e657a7 0%,#d753b4 10%,#c34cad 27%,#ab47c5 45%,#9d43d6 55%,#8c3fe3 64%,#863de8 100%);
animation-name: circle;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 3s;
box-shadow: 0px 0px 350px 2px #7c3aed;
}
.emoji{
position: absolute;
top: auto;
right: auto;
left: 50%;
bottom: 27.1vw;
transform: translate(-50%, 50%);
font-size: 26.8vw;
line-height: 1;
}
.box-position{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 40px;
}
.box{
  width: 90%;  
  display: flex;
  margin-bottom:0; 
}
}
@media screen and (min-width:601px) and (max-width:900px) {
.header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;
}  
nav{
text-align: center;
}
.container{
width: 95%;
height: auto;
padding-bottom: 26.1vw;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
position: relative;
}
.text{
text-align: center;
margin-top: 70px;
}
h2{
font-size: 30px;

}
.discription{
font-size: 15px;
width: 100%;
}
.rating{
text-align: center;
font-size: 13px;
}
.click{
width: 18.7vw;
height: 6vw;
vertical-align: top;
}
.circle{
background-color: #0e0e12;
aspect-ratio: 1 / 1;
width: 64.2vw;
height: auto;
position: absolute;
top: auto;
right: auto;
left: 50%;
bottom: -28vw;
transform: translateX(-50%);
border-radius: 100%;
z-index: -1;
background: radial-gradient(circle at 35% 30%,#f45b9b 0%,#d753b4 10%,#c34cad 27%,#ab47c5 45%,#9d43d6 55%,#8c3fe3 64%,#863de8 100%);
animation-name: circle;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 3s;
box-shadow: 0px 0px 350px 2px #7c3aed;
}
.emoji{
position: absolute;
top: auto;
right: auto;
left: 50%;
bottom: 14vw;
transform: translate(-50%, 50%);
font-size: 17.25vw;
line-height: 1;
}
.box-position{
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 40px;
}
.box{
width: 90%;
margin-bottom:0;
}
}
@media screen and (min-width:901px) and (max-width:950px){
.discription{
width: 40%;
}
.rating{
font-size: 15px;
}
.emoji{
position: absolute;
right: 120px;
} 
h2{
width: 350px;
}
}
@media screen and (min-width:901px) and (max-width:1200px){
.container{
width: 92%;
}    
.box-position{
display: flex;
margin-right:40px;
margin-left: 40px;
}
.discription{
width: 250px;

}
.emoji{
right: 8%;
}

}

@media screen and (min-width:951px) and (max-width:1200px){
.discription{
width: 40%;
}
}
